	<div id='footer'>
		<ul>
			<li><%= link_to 'Meet the Team', about_us_path %></li>
			<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
			<li><%= link_to 'FAQ', faq_path %></li>
			<li><%= link_to 'Shipping and Returns', shipping_returns_path %></li>
			<li><%= link_to 'Contact Us', contact_us_path %></li>
		</ul>
		<p>Copyright TasteBasket Inc. 2011</p>
	</div> 
