	<%= render 'shared/site_nav_home' %>
</div>


<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>


<div id='container'>

<!--
<a name="fb_share" type="button" share_url= tastebasket.com></a>

<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://tastebasket.com" data-text="Check out an awesome food tasting experience at Tastebasket.com!" data-count="none" data-via="tastebasket">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
-->

<div id='box-top-half'>
	
	<div id='top-left'>
		<%= image_tag 'intro-text.png', :class => 'intro-text'%>
<div class="request-invite-big"><%= facebox_link_to 'MMMMMM MMMMMM', :url => new_subscription_url %></div>

<div id='share'>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" >
	<a class="addthis_button_facebook" addthis:url="http://tastebasket.com"></a>
	<a class="addthis_button_email"></a>
	<a class="addthis_button_twitter" addthis:url="http://tastebasket.com" addthis:title="Unique artisanal food products delivered once a month." ></a>
	<!--	<a class="addthis_button_compact"></a> -->
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d314e7d3d35b074"></script>
<!-- AddThis Button END -->
<div class='fbook'><%= facebook_like %></div>

</div>
</div>

<div id='top-right'>
	<%= image_tag 'food-basket.png', :class => 'food-basket'%>
</div>


</div>

<div id='box-bottom-half'>
	<%= image_tag 'peak-into-next-months-basket.png', :class => 'peak'%>
	<%= image_tag 'glasgow-cookies.png', :class => 'glasgow-cookies'%>
	<%= image_tag 'seeded-crisps.png', :class => 'seeded-crisps'%>
	<%= image_tag 'karmic-krunch.png', :class => 'karmic-krunch'%>
	<%= image_tag 'seventh-heaven.png', :class => 'seventh-heaven'%>
	<%= image_tag 'garden-herb.png', :class => 'garden-herb'%>


</div>
</div>


