<!DOCTYPE html>
<html>
<head>
  <title>Tastebasket</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'jquery-1.4.4' %>
  <%= javascript_include_tag 'facebox' %>
     <%= javascript_include_tag 'scrolling' %>
  <%= stylesheet_link_tag 'facebox', :media => 'screen' %>

  <%= csrf_meta_tag %>


<script type="text/javascript">
$(document).ready(function(){
  $(".bacon-crisp").hover(function(){
	  $(this).toggleClass("bacon");
	  $(".seeded-crisps").css("border","1px solid #9b0002");
	  }, function(){
	  $(this).toggleClass("bacon");
	  	  $(".seeded-crisps").css("border","1px solid transparent");
  });

    $(".seeded-crisps").hover(function(){
	  $(".bacon-crisp").toggleClass("bacon");
	  $(this).css("border","1px solid #9b0002");
	  }, function(){
	  $(".bacon-crisp").toggleClass("bacon");
	  	  $(this).css("border","1px solid transparent");
  });







});



</script>



<meta property="og:title" content="YOmama" />
<meta property="og:description" content="Big ass description" />
<meta property="og:image" content="http://seeker401.files.wordpress.com/2009/12/ninja-kitten-defeats-dog-with-google-search-skills-always.jpg" />


</head>
<body>

	<div id="notice"><%= notice %> </div>
	<div id ="content">
		<div id='header'>
			<%= image_tag 'logo.png', :class => 'logo' %>
			<%= render 'shared/site_nav_general' %>
		</div>
		<div id='container-top'></div>
		
		<div id='container-middle'>
			<%= yield %>
		</div>

		<div id='container-bottom'></div>
	</div>

	
	<%=render 'shared/footer'%>
	
</body>
</html>
